<div class="container">
  <p>
    <button class="btn btn-primary">
      Register Myself as Speaker <i class="fa fa-plus-circle"></i>
    </button>
  </p>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Organization</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let speaker of speakers">
        <th scope="row">{{speaker.id}}</th>
        <td><i class="fa fa-user-tie"></i>{{speaker.name}}</td>
        <td>{{speaker.organization}}</td>
        <td>
          <span class="badge badge-success" *ngIf="speaker.accepted">
            <i class="fa fa-check-double">Accepted!</i>
          </span>
          <span class="badge badge-secondary" *ngIf="!speaker.accepted">
            <i class="fa fa-question">Still Pending</i>
          </span>
        </td>
        <td>
          <button class="btn btn-primary" (click)="acceptSpeaker(speaker)" [disabled]="speaker.accepted">
            <i class="fa fa-user-check"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" id="speakerModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Register Yourself as Speaker</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="">
        <div class="modal-body">
            <div class="form-group">
              <label for="speakerName">Name</label>
              <input type="text" class="form-control" id="speakerName" disabled>
            </div>
            <div class="form-group">
              <label for="speakerOrg">Organization</label>
              <input type="text" class="form-control" id="speakerOrg" placeholder="Enter Organization's Name">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
